body {
  margin: 0;
}

.scroller {
  width: 500px;
  height: 500px;
  overflow: scroll;
  border: #ccc 1px solid;
}

.text-container {
  position: relative;
  min-height: 100%;
}

.output,
.input {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: Helvetica;
  border: none;
  outline: none;
  resize: none;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;

}
.output {
  color: transparent;
  white-space: pre-wrap;
}
.output .url { background: red; }
