body {
  margin: 0;
}

.text-container,
.output,
.input {
  position: absolute;
  width: 100%;
  height: 100%;
}

.output,
.input {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: Helvetica;
}

.input { background: transparent; }
.output {
  color: transparent;
  white-space: pre-wrap;
}
.output .url { background: red; }
